<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="UTF-8" />
<title>Insert title here</title>
<link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css"
	integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh"
	crossorigin="anonymous">
<script src="https://code.jquery.com/jquery-3.5.1.slim.min.js"
	integrity="sha384-DfXdz2htPH0lsSSs5nCTpuj/zy4C+OGpamoFVy38MVBnE+IbbVYUew+OrCXaRkfj"
	crossorigin="anonymous"></script>
<script
	src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js"
	integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo"
	crossorigin="anonymous"></script>
<script
	src="https://stackpath.bootstrapcdn.com/bootstrap/4.5.0/js/bootstrap.min.js"
	integrity="sha384-OgVRvuATP1z7JjHLkuOU7Xw704+h835Lr+6QL9UvYjZE3Ipu6Tp75j7Bh/kR0JKI"
	crossorigin="anonymous"></script>
	
</head>
<body>

	<div class="row justify-content-center">
		<div class="col-md-4-mt-5">
			<div class="alert alert-success" th:if="${sucess!=null}"
				th:text="${success}"></div>
		</div>
	</div>
	<div class="container">
		<div class="col-sm-6">
			<form th:action="@{/acatalogo}" th:object="${producto}" method="POST"
				enctype="multipart/form-data">
				<div class="card">
					<div class="card-header">
						<h3>Modulo Producto</h3>
					</div>
					<div class="card-body">
						<div class="form-group">
							<label>ID</label> <input th:field="*{idproducto}" type="text"
								class="form-control" />
						</div>
						<div class="form-group">
							<label>Nombre</label> <input th:field="*{nombre}" type="text"
								class="form-control" />
						</div>
						<div class="form-group">
							<label>Descripcion</label> <input th:field="*{descripcion}"
								type="text" class="form-control" />
						</div>
						<div class="form-group">
							<label>Cantidad</label> <input th:field="*{cantidad}" type="text"
								class="form-control" />
						</div>
						<div class="form-group">
							<label>Precio</label> <input th:field="*{precio}" type="text"
								class="form-control" />
						</div>
						<div class="form-group"> 
						 	<label>Estado(Disponible=1/No Disponible=0)</label>
						 	<input th:field="*{estado}" type="text" class="form-control"/>
					 	</div>
						<div class="form-group">
							<select class="browser-default custom-select col-md-4"
								th:field="*{categoria}">
								<option value="" th:text="'Select Categoria'"></option>
								<option th:each="cat :${categoria}"
									th:value="${cat.idcategoria}" th:text="${cat.nombre}" />
							</select>
						</div>
						<div class="row form-group">
							<input type="file" name="file" class="m-2" />
						</div>
					</div>
					<div class="card-footer">
						<input type="submit" value="Guardar" class="btn-primary">
					</div>
				</div>
			</form>
		</div>
	</div>
</body>
</html>
